/* .dashboard-container {
    display: flex;
    height: 100%;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  } */

  .from-message {
    min-width: 200px;
    text-align: right;
    background: #67a176;
    border-radius: 18px;
    color: white;
    padding: 5px 14px;
  }

  .to-message {
    min-width: 200px;
    background: #112e97;
    border-radius: 18px;
    padding: 5px 14px;
    color: white;
  }
  .message-header + .message-header {
    margin-top: 5px;
  }
  
